doctype html
html(lang="en")
  head
    title Bernie Sumption's personal website
    meta(id="viewport" name="viewport" content="width=device-width, user-scalable=no")
    style.
      canvas, html, body {
        width:100%;
        height:100%;
        margin: 0;
        padding: 0;
      }
    script.
      (function(_,e,rr,s){_errs=[s];var c=_.onerror;_.onerror=function(){var a=arguments;_errs.push(a);
      c&&c.apply(this,a)};var b=function(){var c=e.createElement(rr),b=e.getElementsByTagName(rr)[0];
      c.src="//beacon.errorception.com/"+s+".js";c.async=!0;b.parentNode.insertBefore(c,b)};
      _.addEventListener?_.addEventListener("load",b,!1):_.attachEvent("onload",b)})
      (window,document,"script","54e8b6eea98a41dc6e00040f");
  body
    canvas#canvas
    script(src="color-sparks.js")
    script.
      if (location.href.indexOf("http") !== 0) {
        alert("This demo must be run from a web server.");
      } else {
        window.sparks = new ColorSparks(document.getElementById("canvas"), "velocity-map.png", true);
      }
    noscript.
      JavaScript is disabled, so this demo won't work.
